.button {

  padding: 10px;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &Gradient {
    background-image: var(--orange-gradient);
  }

  &Gray {
    background-color: var(--secondary-gray);
  }

  &Text {
    font-size: 1.5rem;
  }
}

